<!DOCTYPE html>
<head>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" type="text/css" href="../css/structure.css">
      <link rel="stylesheet" type="text/css" href="../css/shopping-cart.css">
      <script src="https://kit.fontawesome.com/7b27ec48b4.js" crossorigin="anonymous"></script><title> SHOPPING CART</title>
</head>

<body>
      <div class="base-container">
            <nav>
                  <img src="../img/name.svg">
                  <ul>
                        <i class="fa-solid fa-bars"></i>
                        <a class="text">Categories</a>
                        <li>
                              <i class="fa-solid fa-computer"></i>
                              <a href="#" class="button">Desktops</a>
                        </li>
                        <li>
                              <i class="fa-solid fa-laptop"></i>
                              <a href="#" class="button">Laptops</a>
                        </li>
                        <li>
                              <i class="fa-solid fa-mobile"></i>
                              <a href="#" class="button">Smartphones</a>
                        </li>
                        <li>
                              <i class="fa-solid fa-tv"></i>
                              <a href="#" class="button">TVs</a>
                        </li>
                  </ul>
            </nav>
            <main>
                  <header>
                        <div class="delivery-information">
                              <form>
                                    <i class="fa-solid fa-truck"></i>
                                    <span class="text">Free Delivery from 199zl!</span>
                              </form>
                        </div>
                        <div class="search-bar">
                              <form>
                                    <input type="text" placeholder="search...">
                              </form>
                        </div>
                        <div class="shopping-cart">
                              <a href="#">
                                    <form>
                                          <i class="fa-solid fa-cart-shopping"></i>
                                    </form>
                              </a>
                        </div>
                        <div class="profile">
                              <a href="#">
                                    <form>
                                          <i class="fa-solid fa-user"></i>
                                    </form>
                              </a>
                        </div>
                  </header>
                  <span>
                        <div class="shopping-cart-inscription">
                              <h1>SHOPPING CART</h1>
                        </div>
                        <div class="content">
                              <h2 class="empty-cart"> Your cart is empty</h2>
                              <div class="cart-button">
                                    <a class="button" href="#">Go to homepage</a>
                              </div> 
                        </div>
                  </span>
            </main>
      </div>
</body>